/*  Global  */

*{
    font-family: Arial, Helvetica, sans-serif;
}

/* Etiquetas */

body{
    margin: 0;
    padding: 0;
    width: auto;
}

h2,h5
{ 
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  rgb(69, 94, 236);
}

table{
    margin-top: 10%;
    border-collapse: collapse;
    width: 70%;
    table-layout: fixed;
}

td{
    padding: 5px;
    border: 2px solid #000;
}

button{
    padding: 10px 25px;
    border-radius: 6px;
    background-color: rgb(69, 94, 236);
    border-color:   rgb(69, 94, 236);
    color: white;
}

label{
    font-size: 100%;
    font-weight: bold;
}

/* Clases */

.cuerpoFormulario{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonTabla{
    padding: 5px 25px;
    position: relative;
    left: 8%;
}

.botonesFormulario{
    position: relative;
    margin: 4%;
    left:30%;
}

.cabecera{
    padding: 1%;
    background-color: rgb(163, 163, 255);
}

.formTable{

    display: inline-block;
}


/* ID´s */

#enlace{
    margin-left: 40px;
    margin-top: 10px;
    display: flex;
    font-size: smaller;
}

#inputOne{
    margin-left: 48px;
}

#inputTwo{
    margin-left: 20px;
}

#inputThree{
    margin-left: 117px;
}

#inputFour{
    margin-left: 31px;
}

#inputFive{
    margin-left: 22px;
}
#inputSix{
    margin-left: 81px;
}

#botonEntrada{
    position: relative;
    top: 8%;
    left:76.3%;
}

#botonNota{
    position: relative;
    left:14.9%;
}

#contenedorUno{
    padding: 4.5%;
    height: 35%;
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    border-radius: 5%;
}

#contenedorDos{
    padding: 3.5%;
    height: 48%;
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    border-radius: 5%;
}

#cajonTabla{
    margin: 0;
    padding: 0;
    width: auto;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botonEditar{
    border-color:   rgb(255, 204, 0);
    background-color: rgb(255, 204, 0);
}

#botonBorrar{
    border-color:   rgb(206, 75, 15);
    background-color: rgb(206, 75, 15);
}

#fecha{
    width: 42%;
}

#subirNota, #editarNota {
    position: relative;
    margin: 4%;
    left:30%;
}